<script lang="ts">
  export let toggleText: string;
  let isOpen = true;
  const toggle = () => {
    isOpen = !isOpen;
  };
</script>

<div>
  <span on:click={toggle}>{toggleText}</span>
  <div class="content" class:closed={!isOpen}>
    <slot />
  </div>
</div>

<style>
  .content.closed {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
</style>
