<script lang="ts">
  import { onMount } from "svelte";
  import { pokemonStore } from "../ts/PokemonStore";
  import Grid from "./Grid.svelte";
  import ImprovedModal from "./ImprovedModal.svelte";
  import Toolbar from "./Toolbar.svelte";

  onMount(() => {
    pokemonStore.load();
  });
</script>

<div>
  <ImprovedModal>
    <Toolbar />
    <Grid />
  </ImprovedModal>
</div>

<style>
  div {
    display: flex;
    font-size: 25px;
    font-weight: 400;
    height: 100%;
  }
</style>
