<script lang="ts">
  import { onMount } from "svelte";
  import { areaStore } from "../ts/AreaStore";
  import { tileSize } from "../ts/Config";
  import EditAreaButton from "./EditAreaButton.svelte";

  export let diffX: number;
  export let diffY: number;

  onMount(() => {
    areaStore.load();
  });
</script>

<div class="container" style="top: {diffY}px; left: {diffX}px">
  {#each $areaStore as area}
    <div
      class="area"
      style="transform: translate({area.borderLeft *
        tileSize}px, {area.borderTop * tileSize}px); width: {(area.borderRight -
        area.borderLeft) *
        tileSize}px;
        height: {(area.borderBottom - area.borderTop) *
        tileSize}px"
    >
      <EditAreaButton areaId={area.id} name={area.name} />
      {area.id}
    </div>
  {/each}
</div>

<style>
  .container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .area {
    background-color: rgba(210, 105, 30, 0.2);
    border: 2px solid yellow;
    box-sizing: border-box;
    position: absolute;
  }
</style>
