<script lang="ts">
  import { createArea } from "../ts/Api";
  import { gridState } from "../ts/GridStore";
  import type { Pokemon } from "../ts/Pokemon";
  import { normalize } from "../ts/Utils";

  export const onSubmit = async (e: Event) => {
    e.preventDefault();
    await createArea({
      name: areaName,
      borderLeft,
      borderRight,
      borderTop,
      borderBottom,
    });
  };

  $: [borderLeft, borderRight] = normalize(
    $gridState.dragStart?.x ?? 0,
    $gridState.dragEnd?.x ?? 0
  );
  $: [borderTop, borderBottom] = normalize(
    $gridState.dragStart?.y ?? 0,
    $gridState.dragEnd?.y ?? 0
  );
  let areaName: string;
  let pokemon: Pokemon[] = [];
  const addPokemon = () => {
    pokemon = [...pokemon, { pokemonId: 1, probability: 0 }];
  };
</script>

<input type="text" placeholder="Name of area" bind:value={areaName} />
<ul>
  {#each pokemon as p}
    <li>
      <input type="number" bind:value={p.pokemonId} />
      <input type="number" bind:value={p.probability} step={0.01} />
    </li>
  {/each}
</ul>
<button type="button" on:click={addPokemon}>Add a pokemon</button>

<style>
  input {
    padding: 10px;
  }
</style>
