<script lang="ts">
  import { createForm } from "svelte-forms-lib";
  import {
    addEncountersForArea,
    createAreaWithPokemon,
    deleteEncountersForArea,
  } from "../ts/Api";
  import { gridState } from "../ts/GridStore";
  import type { Pokemon } from "../ts/Pokemon";
  import { calcDiff } from "../ts/Pokemon";
  import { pokemonStore } from "../ts/PokemonStore";
  import { defined, normalize } from "../ts/Utils";

  export let areaId: number | null | undefined;
  export let initialName = "";
  export let initialPokemon: Pokemon[] = [];

  type Entry = { index: number; probability: number };

  const addDataToEncounter = (enc: Pokemon): Entry | undefined => {
    const index = $pokemonStore.findIndex((p) => p.id === enc.pokemonId);
    if (index > -1) {
      return { index, probability: enc.probability };
    }
    return undefined;
  };

  const fromEntry = ({ index, probability }: Entry): Pokemon => ({
    pokemonId: $pokemonStore[index].id,
    probability,
  });

  $: [borderLeft, borderRight] = normalize(
    $gridState.dragStart?.x ?? 0,
    $gridState.dragEnd?.x ?? 0
  );
  $: [borderTop, borderBottom] = normalize(
    $gridState.dragStart?.y ?? 0,
    $gridState.dragEnd?.y ?? 0
  );

  const { form, handleSubmit } = createForm({
    initialValues: {
      name: initialName,
      pokemon: initialPokemon.map(addDataToEncounter).filter(defined),
    },
    onSubmit: async (values) => {
      if (areaId !== undefined && areaId !== null) {
        const { toCreateOrUpdate, toDelete } = calcDiff(
          initialPokemon,
          $form.pokemon.map(fromEntry)
        );
        await deleteEncountersForArea(areaId, toDelete);
        await addEncountersForArea(areaId, toCreateOrUpdate);
      } else {
        await createAreaWithPokemon({
          name: values.name,
          pokemon: values.pokemon.map(fromEntry),
          borderLeft,
          borderRight,
          borderTop,
          borderBottom,
        });
      }
    },
  });
  const addPokemon = () => {
    form.update((f) => ({
      ...f,
      pokemon: [...f.pokemon, { index: 0, probability: 0 }],
    }));
  };

  const removePokemon = (index: number) => {
    form.update((f) => ({
      ...f,
      pokemon: f.pokemon.filter((p) => p.index !== index),
    }));
  };
</script>

<form on:submit={handleSubmit}>
  <label for="name">Area Name</label>
  <input id="name" bind:value={$form.name} />
  {#each $form.pokemon as p}
    <li>
      <select type="number" bind:value={p.index}>
        {#each $pokemonStore as poke, i}
          <option value={i}>{poke.name}</option>
        {/each}
      </select>
      <input type="number" bind:value={p.probability} step={0.01} />
      <button type="button" on:click={() => removePokemon(p.index)}>🗑</button>
    </li>
  {/each}
  <button type="button" on:click={addPokemon}>Add pokemon</button>
  <button type="submit">{areaId ? "Update" : "Create"}</button>
</form>
