<script lang="ts">
  import { getEncountersForArea } from "../ts/Api";
  import { getModalContext } from "../ts/ModalStore";
  import EditAreaDialog from "./EditAreaDialog.svelte";

  export let areaId: number;
  export let name: string;

  const onClick = async () => {
    const initialPokemon = await getEncountersForArea(areaId);
    open(EditAreaDialog, {
      initialPokemon,
      areaId,
      initialName: name,
    });
  };

  const { open } = getModalContext();
</script>

<button on:click={onClick}>🖊️</button>

<style>
  button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
  }
</style>
