<script lang="ts">
  import { tileSize } from "../ts/Config";
  import { gridState } from "../ts/GridStore";
  import AreaSelect from "./AreaSelect.svelte";
  import MapCanvas from "./MapCanvas.svelte";
  import Tile from "./Tile.svelte";

  let mouseDown = false;
  let mouseX: number;
  let mouseY: number;
  let diffX: number = 0;
  let diffY: number = 0;
  $: dragMode = $gridState.mode === "drag";
  const onMouseDown = (e: MouseEvent) => {
    if (dragMode) {
      mouseDown = true;
      mouseX = e.screenX;
      mouseY = e.screenY;
    }
  };

  const onMouseMove = (e: MouseEvent) => {
    if (mouseDown && dragMode) {
      diffX += e.screenX - mouseX;
      diffY += e.screenY - mouseY;
      mouseX = e.screenX;
      mouseY = e.screenY;
    }
  };

  const onMouseUp = () => {
    if (dragMode) {
      mouseDown = false;
    }
  };

  let height: number;
  let width: number;
  $: rows = Array.from({ length: (height - diffY) / tileSize });
  $: columns = Array.from({ length: (width - diffX) / tileSize });
</script>

<svelte:window bind:innerHeight={height} bind:innerWidth={width} />
<MapCanvas {diffX} {diffY} />
<AreaSelect {diffX} {diffY} />
<div
  class="column"
  on:mousedown={onMouseDown}
  on:mouseup={onMouseUp}
  on:mousemove={onMouseMove}
  style="top: {diffY}px; left: {diffX}px"
>
  {#each rows as _, i}
    <div class="row">
      {#each columns as _, j}
        <Tile x={j} y={i} />
      {/each}
    </div>
  {/each}
</div>

<style>
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .column {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
</style>
