<script lang="ts">
  import { clickOutside } from "../ts/clickOutside";
  import { init } from "../ts/ModalStore";

  const store = init();
  const onClose = () => store.close();
</script>

<slot />
{#if $store.component}
  <div class="bg">
    <div class="window" use:clickOutside on:click_outside={onClose}>
      <svelte:component this={$store.component} {...$store.props} />
    </div>
  </div>
{/if}

<style>
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0.3, 0.3, 0.3, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .window {
    position: relative;
    background-color: white;
    padding: 20px;
    width: 70%;
    height: 50%;
    z-index: 10;
    border-radius: 20px;
  }
</style>
