<script lang="ts">
  export let value = 0;
  export let label: string;
</script>

<style>
  label {
    display: flex;
  }

  input {
    width: 100%;
  }
</style>

<label>{label}<input type="number" bind:value min="0" /></label>
