<script lang="ts">
  import { onMount, tick } from "svelte";
import { layerStore } from "../ts/LayerStore";
  import { canvasId, tileStore } from "../ts/TileStore";

  export let diffX: number;
  export let diffY: number;

  $: {
    tick().then(() => {
      $tileStore?.setActiveLayer($layerStore);
      $tileStore?.draw(32, {
        top: -diffY / 32,
        left: -diffX / 32,
        bottom: y,
        right: x,
      });
    });
  }

  onMount(async () => {
    tileStore.load($layerStore);
  });

  let x: number;
  let y: number;
</script>

<svelte:window bind:innerWidth={x} bind:innerHeight={y} />
<canvas id={canvasId} width={x} height={y} />

<style>
  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
</style>
