<script lang="ts">
  import { gridState } from "../ts/GridStore";
  import { isInRange } from "../ts/Utils";

  $: inX =
    $gridState.dragStart &&
    $gridState.dragEnd &&
    isInRange(x, $gridState.dragStart!.x, $gridState.dragEnd!.x);
  $: inY =
    $gridState.dragStart &&
    $gridState.dragEnd &&
    isInRange(y, $gridState.dragStart!.y, $gridState.dragEnd!.y);

  export let x: number;
  export let y: number;
  $: selected = inX && inY;

  const onMouseDown = () => {
    gridState.startDrag({ x, y });
  };

  const onMouseEnter = () => {
    if ($gridState.isDragging) {
      gridState.drag({ x, y });
    }
  };

  const onMouseUp = gridState.endDrag;
</script>

<style>
  div {
    height: 30px;
    width: 30px;
    border: 1px solid black;
  }
  .selected {
    background-color: yellow;
    opacity: 0.5;
  }
</style>

{#if $gridState.mode === 'select'}
  <div
    on:mousedown={onMouseDown}
    on:mouseenter={onMouseEnter}
    on:mouseup={onMouseUp}
    class:selected />
{:else}
  <div />
{/if}
