<script lang="ts">
  export let selected = false;
</script>

<button on:click class:selected><slot /> </button>

<style>
  button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
  }

  .selected {
    background-color: darkgreen;
  }
</style>
