<script lang="ts">
  import { onMount } from "svelte";
  import { getTileTypes } from "../ts/Api";
  import { gridState } from "../ts/GridStore";
  import { layerStore } from "../ts/LayerStore";
  import { createGroundTiles } from "../ts/Tiles";
  import Accordion from "./Accordion.svelte";
  import OpenCreateAreaButton from "./OpenCreateAreaButton.svelte";
  import ToolbarButton from "./ToolbarButton.svelte";

  let tileTypes: string[] = [];
  onMount(async () => {
    tileTypes = await getTileTypes();
  });

  $: tileActions = tileTypes.map((tt) => ({
    act: () => createGroundTiles($gridState, tt, $layerStore),
    name: tt,
  }));
</script>

<div>
  <span>Toolbar</span>
  <ToolbarButton
    on:click={gridState.toDragMode}
    selected={$gridState.mode === "drag"}>Drag</ToolbarButton
  >
  <ToolbarButton
    on:click={gridState.toSelectMode}
    selected={$gridState.mode === "select"}>Select</ToolbarButton
  >
  <Accordion toggleText="Tile types">
    {#each tileActions as action}
      <ToolbarButton on:click={action.act}>{action.name}</ToolbarButton>
    {/each}
  </Accordion>
  <ToolbarButton on:click={layerStore.increment}
    >Go to layer {$layerStore + 1}</ToolbarButton
  >
  <ToolbarButton on:click={layerStore.decrement}
    >Go to layer {$layerStore - 1}</ToolbarButton
  >
  <OpenCreateAreaButton pokemon={[]} areaId={undefined} name={undefined} />
</div>

<style>
  div {
    background-color: lightcyan;
    border-radius: 0 25px 25px 0;
    box-shadow: 3px 3px 8px grey;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 2rem;
    z-index: 2;
  }
</style>
