<script lang="ts">
  export let size: number;
</script>

<div style={`height:${size}px;width: ${size}px;`} />

<style>
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  div {
    background-image: url("/images/loading-ball.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: spin;
    animation: spin 1s linear infinite;
  }
</style>
