<script lang="ts">
  import { onMount } from "svelte";
  import { startSPA } from "../start";
  import LoadingIndicator from "./LoadingIndicator.svelte";
  import {
    andrenaLoginHandler,
    createLocalAccount,
    localLoginHandler,
  } from "./loginView";

  let authProvider: "local" | "andrena" | undefined = undefined;
  let username: string | undefined;
  let password: string | undefined;
  let errorMessage: string | undefined;
  let isWaiting = false;

  onMount(() => {
    document.title = "Login";
  });

  const chooseLocalLogin = (_event: unknown) => {
    authProvider = "local";
  };

  const handleError = (error: Error) => {
    errorMessage = error.message;
    isWaiting = false;
  };

  const submitLocal = (event: Event) => {
    event.preventDefault();
    if (username && password) {
      isWaiting = true;
      localLoginHandler({ username, password })
        .then(startSPA)
        .catch(handleError);
    }
  };

  const createNewAccount = () => {
    if (username && password) {
      isWaiting = true;
      createLocalAccount({ username, password }).catch(handleError);
    }
  };
</script>

<div class="page">
  <h1>Welcome to Safari Zone!</h1>
  {#if isWaiting}
    <div class="loading">
      <LoadingIndicator size={70} />
    </div>
  {/if}
  <p>Please choose your login provider.</p>
  <div class="login-option-container">
    <input
      type="image"
      class="login-option andrena-login"
      src="/images/andrena-logo.svg"
      aria-label="Andrena Login"
      class:selected={authProvider === "andrena"}
      on:click={andrenaLoginHandler}
    />
    <input
      type="image"
      class="login-option"
      src="/images/safari-zone-login.png"
      aria-label="Login using this website"
      class:selected={authProvider === "local"}
      on:click={chooseLocalLogin}
    />
  </div>
  {#if authProvider === "local"}
    <form on:submit={submitLocal} class="local-login-form">
      <label>
        Username
        <input
          type="text"
          bind:value={username}
          aria-required="true"
          autocomplete="username"
          disabled={isWaiting}
          required
        />
      </label>
      <label>
        Password
        <input
          type="password"
          bind:value={password}
          minlength="7"
          aria-required="true"
          autocomplete="current-password"
          disabled={isWaiting}
          required
        />
      </label>
      {#if errorMessage}
        <p class="error">{errorMessage}</p>
      {/if}
      <div class="button-container">
        <button
          type="button"
          class="create-button"
          on:click={createNewAccount}
          disabled={isWaiting}>Create new account</button
        >
        <button class="login-button" disabled={isWaiting}>Login</button>
      </div>
    </form>
  {/if}
</div>

<style>
  .page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  .loading {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
  }

  .login-option {
    display: flex;
    height: 100px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
  }

  .login-option-container {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 700px) {
    .login-option-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 900px;
      justify-content: space-evenly;
    }
  }

  .andrena-login {
    padding: 10px;
  }

  .selected {
    border: 5px solid green;
  }

  .local-login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
  }

  .local-login-form > * {
    padding: 10px;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
  }

  .error {
    color: red;
    margin: 0;
  }

  .button-container {
    display: flex;
  }

  .button-container button:not(:last-child) {
    margin-right: 10px;
  }

  button {
    padding: 10px;
  }

  button[disabled] {
    background-color: grey;
  }

  .create-button {
    background-color: blue;
    color: white;
  }

  .login-button {
    background-color: green;
    color: white;
  }
</style>
